<!DOCTYPE html>
<html>
<head>
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
</head>
<body>
    <div class="topbar">
        <div class="container">
             
            <div class="topcenter">
                <ul>
                    <li><a href="/">Strong główna</a></li>
                    <li><a href="contact">Kontakt</a></li>
					<% if (privileged) { %>
						<li><a href='users'>Użytkownicy</a></li>
						<li><a href='products'>Produkty</a></li>
						<li><a href='orders'>Zamówienia</a></li>
					<% } %>
                </ul>
            </div>

            <div class="topright">
                <ul>
                    <li><a href="#"><i class="fas fa-phone"></i> (+48)123456789</a></li>
                    <li>Nazwa użytkownika: <%= username %></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header">
        <a href="/">
           <div class="container">
               <div class="logo">
                   <img src="images/logo.png">
               </div>
           </div>
       </a>
    </div>

    <div class="centeredText" style="padding-top: 150px; line-height: 3.5em;">
        <h3>
            <div>Hubert Obrzut</div>
            <div>Telefon: 530 005 229</div>
            <div>Email: skoczek133@gmail.com</div>
        </h3>
    </div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.cycle.js"></script>
<script src="js/owl.carousel.min.js"></script>
</body>
</html>