<!DOCTYPE html>
<html lang="pl">
<head>
<title>Sklep</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 3px;
  text-align: center;
  font-size: 10px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 3px;
  font-size:10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 3px;
  text-align: center;
  color: white;
}
/* hide input forms */
input#hidden {
  display: none;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>
<body>

  <header>
	<h2>Sklep internetowy</h2>
  </header>

<section>
  <nav>
    Nazwa użytkownika: <%=nick%>
    <form method="POST" action="login">
      Login: <input type="text" name="username">
      Hasło: <input type="password" name="password">
      <button>Zaloguj się</button>
    </form>
    <form method="POST" action="register">
      Login: <input type="text" name="username">
      Hasło: <input type="password" name="password">
      <button>Zarejestruj się</button>
    </form>
    <%= msg %>
    <a href="koszyk">Koszyk</a>
    <form method="POST" action="logout">
      <button> Wyloguj się</button> 
    </form>
  </nav>
</section>

<section>
  <article>
	<table width = "100%" border = "1">
  <% items.forEach((v) => { %>
	  <tr>
		  <td>
        <%=v.item%> <br> <%=v.description%>
		  </td>
		<td>
		  <form method="POST">
			<div id='add_to_cart'>
			  <input id='hidden' type='text' name='type'
					 value='add_to_cart'>
			  <input id='hidden' type='number' name='product_id'
			  value='l'>
			  <input type='number' name='amount'>
			  <button>dodaj do koszyka</button>
			</div>
		  </form>
		</td>
	  </tr>
	<% ;}) %>
  </article>  
</section>

<footer>
  <p>Produkty</p>
</footer>

</body>
</html>

