<!DOCTYPE html>
<html>
<head>
    <title>Produkty</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="topbar">
        <div class="container">
             
            <div class="topcenter">
                <ul>
                    <li><a href="/">Strong główna</a></li>
                    <li><a href="contact">Kontakt</a></li>
					<% if (privileged) { %>
						<li><a href='users'>Użytkownicy</a></li>
						<li><a href='products'>Produkty</a></li>
						<li><a href='orders'>Zamówienia</a></li>
					<% } %>
                </ul>
            </div>

            <div class="topright">
                <ul>
                    <li><a href="#"><i class="fas fa-phone"></i> (+48)123456789</a></li>
                    <li>Nazwa użytkownika: <%= username %></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header">
        <a href="/">
           <div class="container">
               <div class="logo">
                   <img src="images/logo.png">
               </div>
           </div>
       </a>
    </div>

    <div style="text-align:center; padding-top: 200px;">
        <form method="POST" action="add_products">
            <input class="submitBtn" 
                       style="width: 70%;" 
                       type="submit" 
                       value="Dodaj produkt">
        </form>
    </div>
    <div style="text-align:center; padding-top: 30px;">
        <form method="POST" action="edit_products">
            <input class="submitBtn" 
                       style="width: 70%;" 
                       type="submit" 
                       value="Modyfikuj/Usuń produkty">
        </form>
    </div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.cycle.js"></script>
<script src="js/owl.carousel.min.js"></script>
</body>
</html>