<!DOCTYPE html>
<html>
<head>
    <title>Użytkownicy</title>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="topbar">
      <div class="container">
            
            <div class="topcenter">
                <ul>
                    <li><a href="/">Strong główna</a></li>
                    <li><a href="contact">Kontakt</a></li>
                    <% if (privileged) { %>
                      <li><a href='users'>Użytkownicy</a></li>
                      <li><a href='products'>Produkty</a></li>
                      <li><a href='orders'>Zamówienia</a></li>
                    <% } %>
                  </ul>
            </div>

            <div class="topright">
                <ul>
                    <li><a href="#"><i class="fas fa-phone"></i> (+48)123456789</a></li>
                    <li>Nazwa użytkownika: <%= username %></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header">
        <a href="/">
          <div class="container">
              <div class="logo">
                  <img src="images/logo.png">
              </div>
          </div>
      </a>
    </div>

    <div style="padding: 200px;">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa Użytkownika</th>
            </tr>
          </thead>
          <tbody>
            <% var id = 1; %>
            <% users.forEach((u) => { %>
                <tr>
                    <th scope="row"><%= id %></th>
                    <th><%= u.username %></th>
                </tr>
                <% ++id %>
            <% }); %>
          </tbody>
        </table>
    </div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.cycle.js"></script>
<script src="js/owl.carousel.min.js"></script>
</body>
</html>